.left_drawer{
    position: fixed;
    left: -100px;
    top: 0;
    transition: width 2s;
    background-color: #131313;
    height: 100%;
    width: 640px;
    color: white;
    -webkit-transition: all 0.5s ease-out;
    z-index: 2;
}
.right_drawer{
    position: fixed;
    right: -100px;
    top: 0;
    transition: width 2s;
    background-color: #131313;
    height: 100%;
    width: 640px;
    color: white;
    -webkit-transition: all 0.5s ease-out;
    z-index: 2;
}
.left_drawer_container_sort{
    overflow-y: auto;
    padding-left: 5px;
}
.left_drawer_container p , .left_drawer_container_sort p{
    font-size: 27px;
    font-weight: 700;
    color: white;
}

.left_drawer_menu_container{
   display: flex;
   align-items: center; 
   height: 100%;
}
.left_drawer_menu{
    font-size: 27px;
    font-weight: 700;
    list-style-type: none;
    padding: 5px 0px;
    color: white;
    cursor: pointer;
}
.left_drawer_menu:hover , .left_drawer_menu_shop:hover, .left_drawer_category:hover{
    color: #f5f5f5de;
}
.left_drawer_menu_register{
    font-size: 24px;
    font-weight: 400;
    list-style-type: none;
    color: white;
    cursor: pointer; 
    font-family: sans-serif;
}
.left_drawer_menu_shop{
    font-size: 27px;
    font-weight: 700;
    list-style-type: none;
    padding: 5px 0px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 454px;
    justify-content: space-between;
    max-height: 47px;
}
.left_drawer_menu_search{
    font-size: 24px;
    font-weight: 400;
    list-style-type: none;
    padding: 5px 0px;
    color: white;
    cursor: pointer;
    flex-direction: row;
    width: 454px;
    justify-content: space-between;
    max-height: 47px;
    font-family: sans-serif;
    display: none;
}
.shop_right_icon {
    width: 40px;

}
.leftdrawer_x{
    width: 40px;
    height: 40px;
    color: white;
    padding: 0;
    cursor: pointer;
    margin: 0 8px;
}

.search_right_icon{
    width: 30px;
}
.left_drawer_category{
    font-size: 24px;
    font-weight: 400;
    list-style-type: none;
    color: white;
    cursor: pointer; 
    font-family: sans-serif;
    padding: 5px 0px;
}
@media only screen and (max-width: 720px) {
    .left_drawer_menu_search{
       display: flex;
    }
    .left_drawer_menu, .left_drawer_menu_shop{
        font-size: 21px;
    }
    .left_drawer_menu_register ,.left_drawer_menu_search{
        font-size: 18px;
    }
    .left_drawer_container,.left_drawer_container_sort{
        padding: 10px;
    }
   
    .left_drawer, .right_drawer{
        width: 100%;
    }
    .search_right_icon{
        width: 20px;
    }
    .shop_right_icon{
    width: 35px;
    }
    .leftdrawer_x{
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 500px) {
    .left_drawer_menu_shop ,.left_drawer_menu_search{
        min-width: 220px;
        width: 100%;
    }
}
.serachbar_right{
    width: 480px;
    height: 58px;
    border: 1px solid grey;
    background-color: #131313;
    padding: 16px 20px;
    color: white;
}

input:focus {
    outline: 0;
}
.radio_sort_drawer{
    width: 24px;
    height: 24px;
}
.label_sort_drawer{
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    height: 30px;
    padding-left: 10px;
}
.form-check-input{
    background-color: #131313;
    border:1px solid #615f5f;
}
.form-check-input[type=radio]:checked{
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0 1px white;
    background-color: #000000;
}
.form-check-input[type=checkbox]:checked{
    border-color: #000000;
    outline: 1px solid white;
    /* box-shadow: 0 0 0 1px white; */
    background-color: #000000;
}
.form-check-input[type=checkbox]{
width: 24px;
height: 24px;
}
.drawer_footer{
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 60px;
    justify-content: center;
    padding-top: 25px;
    border-top: 1px solid grey;
}
.drawer_footer_btn{
    height: 64px;
    width: 468px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.drawer_footer_btn :hover{
    background-color: #cccccc;
}
.cart_product_details p{
font-size: 16px;
font-weight: normal;
margin: 0;
}