.main_footer{
    width: 100%;
    background-color: black;
    padding: 80px 0px;
    margin: 0;
}
.footer_inner{
    padding: 0px 80px;
}
.footer_heading{
    font-size: 17px;
    /* font-family:"open sans-serif" ; */
    color: white;
    font-weight: 700;
    list-style-type: none;
}
.footer_ul{
    padding: 0px;
    margin-top: 20px;
}
.footer_li{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    padding: 2px 0px;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    border-bottom: 0.5px solid #333333;
    width: fit-content;
}
.footer_li:hover{
    border-bottom: 0.5px solid white;
}
.footer_hr{
    height: 1px;
    background-color: grey;
    margin: 80px 0px 0px 0px;
}
.footer_bottom_social{
    padding-top: 20px;
    flex-wrap: nowrap;
}
.footer_bottom_social_icon {
    width: 47px;
    height: 47px;
    color: #b2b2b2;
    cursor: pointer;
}
.footer_bottom_social_icon:hover{
    color: white;
}
.footer_credits{
    padding-top: 20px;
    color: #b2b2b2;
}
.footer_credits p{
    color: #b2b2b2;
    font-size: 14px;
    margin-bottom: 6px;
}